<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .mainBox {
        display: flex;
        justify-content: center;
        height: 80vh;
    }

    .leftmenu {
        background-color: white;
        width: 20vw;
        height: 100%;
    }

    .videoOutput {
        background-color: #17202A;
        width: 40vw;
        height: 100%;
    }

    .outputTable {
        background-color: #17202A;
        width: 40vw;
        height: 100%;
        color: white;
    }

    .actionBox {
        border-top: black solid 1px;
        border-bottom: black solid 1px;
        background-color: #17202A;
        width: 100%;
        height: 15%; 
    }

    .actionBox:hover {
        opacity: 0.5;
    }

    .uploadBox {
        background-color: #17202A;
        width: 100%;
        height: 15%;
    }

    .poseText {
        text-align: right;
        font-size: 60px;
        color: white;
    }
</style>
<div style="height: 7vh;"></div>
<div class="mainBox">
    <!-- 左側目錄 -->
    <div class="leftmenu">
        <div class="uploadBox" style="color: white; font-size:20px; padding:16px; padding-left: 60px;"></div>
        <div class="actionBox" style="background-image: url('/images/biceps.png');">
            <div class="poseText">BICEPS</div>
        </div>
        <div class="actionBox" style="background-image: url('/images/benchdip.jpg');">
            <div class="poseText">BENCH DIP</div>
        </div>
        <div class="actionBox" style="background-image: url('/images/plank.jpg');">
            <div class="poseText">PLANK</div>
        </div>
        <div class="actionBox" style="background-image: url('/images/squat.jpg');">
            <div class="poseText">SQUAT</div>
        </div>
        <div class="actionBox" style="background-image: url('/images/frontraise.jpg');">
            <div class="poseText">FRONT RAISE</div>
        </div>
        <div style="border-top: black solid 1px;
        border-bottom: black solid 1px;
        background-color: #17202A;
        width: 100%;
        height: 10%;"></div>
    </div>
    <!-- 展示區域 -->
    <div class="videoOutput">
        <div class="uploadBox" style="color: white; font-size:20px; padding:16px; padding-left: 200px;">
            <form name="form1">
                <div class="form-group">
                    <label for="exampleFormControlFile1">Upload your exercise video!</label>
                    <input onchange="previewFile()" type="file" class="form-control-file" id="exampleFormControlFile1"
                        accept=".mp4" style="font-family: 微軟正黑體, sans-serif;">
                </div>
            </form>
        </div>
        <video autoplay="autoplay" loop playinline muted style="width: 40vw;"></video>
    </div>
    <!-- 計算資料 -->
    <div class="outputTable">
        <div class="container" style="padding: 30px; font-size: 18px; display: none;" id="processing">
            <ul>processing video...</ul>
        </div>
        <div class="container" style="padding: 30px; font-size: 18px;">
            <ul id="messages"></ul>
        </div>
        <div class="container" style="padding: 30px; font-size: 18px;display: none;" id="resultIMG">
            <p>手臂角度紀錄：</p>
            <img src="/images/demoBenchDip.png" alt="">
        </div>
    </div>
</div>
<div style="height: 100%;"></div>


<!-- <div class="safa">asdasdas</div>
<div id="www">5555555</div> -->


<%- include('parts/scripts') %>
<script>

    $('.poseText').on('click', (event) => {
        dest = event.target.innerHTML.toLowerCase().replace(/\s+/g, "")
        document.location.href = `http://192.168.36.30:3000/fitness/${dest}`;
    });
    $('#www').on('click', function () {
        console.log('sd')
        $.post('/456', "gg=ininder", function (data) {
            $('.safa').text(data.ininder)
        }, 'json');
    })

    // selected video
    function previewFile() {
        var preview = document.querySelector('video');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();
        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
        $.post('/fitness/benchdip', `filename=${$('input').val().split('\\')[2]}`, function (data) {
            console.log()
        }, 'json');
    }

    // Socket.io
    var socket = io();
    socket.on('feedbackMessage', function (msg) {
        $('#messages').append($('<li>').text(msg));
        window.scrollTo(0, document.body.scrollHeight);
    });
    socket.on('imageOn', function (msg) {
        $('#resultIMG').css('display', 'block')
    });
    socket.on('processing', function (msg) {
        if (msg == '1') {
            $('#processing').css('display', 'block')
        } else {
            $('#processing').css('display', 'none')
        }
    })
</script>
<%- include('parts/html_foot') %>