<%- include('parts/html_head') %>
<%- include('parts/navbar') %>

<h1>match</h1>
<form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".mp4">
    </div>
</form>

<%- include('parts/scripts') %>
<%- include('parts/html_foot') %>